/* NAVBAR */
.logo {
  width: 12.25rem;
}

/* menu buttons*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 15px;
  color: antiquewhite !important;
  border-top: 0.18rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.18rem solid peru;
}
.navbar-nav > li > a:hover {
  border-top: 0.18rem solid peru;
}
