@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");

.full-app {
  background-color: #fdfffc;
}

/* NAVBAR */
.logo {
  width: 10rem;
}
@media (max-width: 768px) {
  .logo {
    width: 8rem;
  }
}

nav {
  z-index: 2;
}

.nav-color {
  background-color: rgb(0, 0, 0) !important;
}

/* menu buttons*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  letter-spacing: 3px;
  margin-right: 12px;
  margin-left: 15px;
  color: #fdfffc !important;
  border-top: 0.18rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 15rem;
  padding: 0 !important;
  height: 5rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.18rem solid #e59500;
}
.navbar-nav > li > a:hover {
  border-top: 0.18rem solid #e59500;
  transition: 0.3s;
}

/* header */

.header-wraper {
  position: relative;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  letter-spacing: 3px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  color: #e59500;
  font-weight: 400;
  font-size: 3.2rem !important;
}
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
  }
}

/* typed text*/

.typed-text {
  font-size: 2rem;
  color: #fdfffc;
}

/* button main*/
.btn-main-offer {
  z-index: 9999999;
  cursor: pointer;
  border: 1px solid #fdfffc;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 15px 15px 10px;
  color: #fdfffc;
  margin-top: 2rem;
  border-radius: 4px;
  letter-spacing: 2px;
}
.btn-main-offer:hover {
  transition: 0.2s;
  text-decoration: none;
  color: #e59500;
  background-color: #fdfffc;
}

/* particles*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* About page*/
.about-page {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e59500;
}

.about-title {
  color: #211a1e;
}
@media (max-width: 600px) {
  .about-title {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 576px) {
  .about-title {
    font-size: 1.9rem !important;
  }
}

.about-info {
  font-family: "Raleway", sans-serif;
  color: #211a1e;
  font-size: 1.3em;
}
.about-info-work {
  color: #211a1e;
  font-size: 2em;
  font-weight: 400;
}
@media (max-width: 576px) {
  .about-info-work {
    font-size: 1.6em;
  }
}
.about-button {
  background-color: #211a1e !important;
  color: #e59500 !important;
}
.about-button:hover {
  background-color: #fdfffc !important;
  color: #211a1e !important;
  transition: 0.3s;
}
@media (max-width: 576px) {
  .about-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .center-about-button {
    text-align: center;
  }
}

.me-img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .me-img {
    display: none;
  }
}
@media (max-width: 991px) {
  .me-img {
    width: 55%;
  }
}

/* big icons*/
.icon-wraper {
  top: 0;
  bottom: 0;
  position: relative;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  .big-icons-text {
    font-size: 2.8em !important;
  }
}

/* Projects page*/
.projects-wraper {
  position: relative;
  background-size: cover;
  background-position: center;
}
.projects-container {
  margin-top: 0;
  z-index: -1;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .projects-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* Contact page */

.contact-page {
  background-color: #211a1e;
  color: #fdfffc;
}

.contact-info {
  font-size: 1.3em;
}

.contact-icons {
  margin-top: 15px;
  margin-right: 25px;
}
